@import 'default';
@import 'contact-icons';

body {
  background: url('../img/bombinhas-rocks-blur30.jpg') center / cover no-repeat fixed;
  background-color: $ls-bg-color;
  background-position: 50% 11%;
  color: $ls-color;
  font-family: $ls-body-font;
  height: 100%;
  transition: background-position ease-in-out 400ms;
  width: 100%;

  > section {
    padding: 18px;
  }

  > .intro {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .info {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 24px;
      width: 900px;
    }

    .details {
      margin: 24px;

      .greeting,
      h1,
      h2 {
        text-transform: uppercase;
      }

      .greeting {
        display: inline-block;
        font-size: 22px;
        line-height: 0;
      }

      > h1 {
        font-size: 48px;
        margin-bottom: 4px;
      }

      .summary {
        margin: 24px 0;
        text-indent: $ls-text-indent;
      }
    }

    .avatar {
      border: solid 1px rgba(255, 255, 255, .3);
      box-shadow: 0 8px 20px 2px rgba(0, 0, 0, .3);
      flex-shrink: 0;
      line-height: 0;
      margin: 24px;
      overflow: hidden;

      > img {
        $size: 300px;
        height: $size;
        width: $size;
      }
    }

    .download-cv {
      background-color: $ls-color;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
      color: $ls-light-color;
      display: inline-block;
      font-size: 22px;
      font-weight: normal;
      margin: 8px 0;
      padding: 8px 12px;
      transition: background-color $ls-transition;

      &:hover {
        background-color: lighten($ls-color, 15%);
      }
    }
  }
}

header {
  height: 66px;

  nav {
    background-color: rgba(0, 4, 16, 0.9);
    position: fixed;
    width: 100%;

    .menu {
      display: flex;
      justify-content: center;
      margin: 24px auto;

      a {
        color: $ls-menu-color;
        font-family: $ls-menu-font;
        margin: 0 24px;
        text-shadow: 0 0 12px rgba(0, 0, 0, .7);
        text-transform: uppercase;
        transition: color , text-shadow $ls-transition;

        &:hover {
          color: $ls-menu-color-hover;
          text-shadow: 0 0 0 rgba(255,255,255,.4);
        }
      }
    }
  }
}

h1 {
  font-family: $ls-header-font;
  font-size: 28px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  line-height: 1.2em;
}

p:not(:last-child) {
  margin: .5em 0;
}

a {
  color: rgb(14, 168, 180);
  font-weight: bold;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    margin-bottom: .5em;
  }

  p {
    text-indent: $ls-text-indent;
  }
}

.main > article,
.panel-white {
  background-color: $ls-article-bg-color;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin: 24px 12px;
  padding: 24px;
  transition: margin $ls-transition;
  width: 900px;
}

ul.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills > li {
  background-color: rgb(39, 163, 165);
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  color: white;
  flex-grow: 1;
  margin: 6px 12px;
  max-width: 164px;
  padding: 6px 0;
  text-align: center;
  width: 126px;
}

.tech-em em,
em.env,
em.meth,
em.tech {
  font-weight: bold;
}

.tech-em em,
em.tech {
  color: rgb(14, 168, 180);
  font-weight: bold;
}

em.env,
em.meth {
  color: rgb(18, 130, 29);
}

.education .title > *,
.work .title > * {
  margin-right: 8px;
}

.education .course,
.work .position {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.education .location,
.work .location {
  font-size: 14px;
}

.education .title .time,
.work .title .time {
  font-size: 14px;
}

.time .end::before {
  content: ' - ';
}

.work {
  .item:not(:last-child) {
    margin-bottom: 2em;
  }

  .achievements {
    margin-left: 2em;

    li {
      list-style-type: disc;
      margin: 4px 8px;
    }
  }
}

.contact {
  .links {
    list-style: disc;
    margin-left: 2em;

    li {
      margin: 8px;
    }
  }
}
@media (max-width: 870px) {
  body {
    .intro {
      justify-content: center;
      text-align: center;

      .info {
        flex-direction: column-reverse;

        .details {
          margin-bottom: 0;
        }
      }

      .avatar {
        border-radius: 50%;
        margin: 0;

        > img {
          $size: 200px;
          height: $size;
          width: $size;
        }
      }

      > * {
        margin: 8px;
      }
    }

    .intro,
    .main {
      > article {
        margin: 0;
      }
    }
  }
}
