@import url('https://fonts.googleapis.com/css?family=Oswald:700|Raleway');
body {
  background-color: #ededed;
  color: #212121;
  font-family: 'Raleway';
  height: 100%;
  width: 100%;
}

body>header {
  align-items: center;
  background-image: url('../img/digital-web-blue.jpg');
  background-size: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #ededed;
  display: flex;
  flex-wrap: wrap;
  padding: 18px;
}

body>header>* {
  margin: 24px;
  transition: margin ease-in-out 200ms;
}

body>header>.info {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body>header>.info>h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

header>.avatar {
  border-radius: 50%;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.38);
  display: inline-block;
  line-height: 0;
  overflow: hidden;
}

header>.avatar>img {
  height: 200px;
  width: 200px;
}

h1 {
  font-family: 'Oswald';
  font-size: 28px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 24px;
}

p {
  line-height: 1.2em;
  margin: 0.5em 0;
  text-indent: 8px;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
}

.main>article {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  margin: 24px;
  padding: 24px;
  transition: margin ease-in-out 200ms;
}

.about em {
  text-shadow: 0 1px 0.5px;
}

em.tech {
  color: rgb(14, 168, 180);
}

em.env, em.meth {
  color: rgb(18, 130, 29);
}

@media (max-width:670px) {
  body>header {
    justify-content: center;
    text-align: center;
  }
  body>header>* {
    margin: 8px;
  }
  .main>article {
    margin: 0;
  }
}